<a href="https://colab.research.google.com/github/meysamsadat/data-manipulation/blob/master/nltk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string

In [3]:
from google.colab import files
uploaded = files.upload()

Saving emails.csv to emails.csv

In [4]:
df = pd.read_csv('emails.csv')

In [5]:
df

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.shape

(5695, 2)

In [8]:
df.isnull().sum()

text    0
spam    0
dtype: int64

In [9]:
df.spam.value_counts()

0    4327
1    1368
Name: spam, dtype: int64

In [10]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [17]:
def process_text(text):
  non_punctuation = [char for char in text if char not in string.punctuation]
  non_punctuation = ''.join(non_punctuation)
  clean_words = [word for word in non_punctuation.split() if word.lower() not in stopwords.words('english') ]
  return clean_words

In [18]:
df['text'] = df['text'].apply(process_text)

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

In [26]:
bow = CountVectorizer(analyzer=process_text).fit_transform(df.text)

In [27]:
print(bow)

  (0, 3268)	1
  (1, 4616)	1
  (2, 5020)	1
  (3, 73)	1
  (4, 3205)	1
  (5, 2000)	1
  (6, 2216)	1
  (7, 4331)	1
  (8, 5023)	1
  (9, 4333)	1
  (10, 2686)	1
  (11, 4347)	1
  (12, 483)	1
  (13, 5310)	1
  (14, 1638)	1
  (15, 4395)	1
  (16, 4506)	1
  (17, 2812)	1
  (18, 4406)	1
  (19, 54)	1
  (20, 3021)	1
  (21, 5332)	1
  (22, 4954)	1
  (23, 4986)	1
  (24, 3994)	1
  :	:
  (5670, 1114)	1
  (5671, 4232)	1
  (5672, 4628)	1
  (5673, 3081)	1
  (5674, 1183)	1
  (5675, 291)	1
  (5676, 2190)	1
  (5677, 170)	1
  (5678, 3884)	1
  (5679, 1493)	1
  (5680, 59)	1
  (5681, 3818)	1
  (5682, 3612)	1
  (5683, 4052)	1
  (5684, 1744)	1
  (5685, 226)	1
  (5686, 3695)	1
  (5687, 5248)	1
  (5688, 1165)	1
  (5689, 5120)	1
  (5690, 4101)	1
  (5691, 3956)	1
  (5692, 1255)	1
  (5693, 2383)	1
  (5694, 3368)	1